html,
body {
    margin: 0;
    height: 100%;
}

#main-canvas {
    display: block;
}
@font-face {
    font-family: "MensuraBoldW01-Regular";
    src: url("/fonts/MensuraBoldW01-Regular.ttf");
}
@font-face {
    font-family: "Bebas-Regular";
    src: url("/fonts/Bebas-Regular.ttf");
}
@font-face {
    font-family: "TT Lakes Neue Trial Light";
    src: url("/fonts/TT Lakes Neue Trial Light.ttf");
}
@font-face {
    font-family: "TT Lakes Neue Trial Medium";
    src: url("/fonts/TT Lakes Neue Trial Medium.ttf");
}
@font-face {
    font-family: "Novecentowide-Normal";
    src: url("/fonts/Novecentowide-Normal.otf");
}
@font-face {
    font-family: "cmdysj";
    src: url("/fonts/cmdysj.ttf");
}
